#tests
test

#build tools
.travis.yml

#linters
.eslintrc*

#editor settings
.idea
.editorconfig

#others
.nvmrc
.vscode
docs
tutorials
config
jsconfig.json

#LokiJS adapter
!test/adapters/lokijs-gibbon-adapter.js

src
